@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'bryant';
  src: url("../public/BryantPro-Medium.woff") format("woff");
}

body {
  background-color: #292a3c;
  color:white;
  font-family: bryant;
  font-size: 1.2rem;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display:none;
}

.header {
  margin:3rem;
  padding-left:4rem;
  justify-self: left;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* Leaflet */

.leaflet-container {
  height: 100%;
}
/* Home */

.home-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:3rem;
}

.home-page-header {
  width:40%;
}

.home-page-header-description{
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.infographic-container {
  display: flex;
  justify-content: center;
  gap:10rem;
}

.infographic-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  gap:3rem;
}

.infographic-image-wrapper {
  height:10rem;
}

.infographic-image {
  height: 100%;
}

.infographic-description {
  line-height: 2rem;
  text-align: center;
}

.infographic-description-emphasized {
  font-weight: bold;
  font-size: 1.5rem;
}

.start-button {
  background-color: #00c068;
  border-radius: 3rem;
  width: 22rem;
  height: 3.5rem;
  margin: auto;
}

/* Search */

.search-page {
  display:flex;
  gap:6rem;
}

.country-container {
  width:60%;
  height: 50rem;
}

.DC2 {
  display:none;
}

.search-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 18rem;
  gap:2.5rem;
}

.search-heading {
  font-size: 1.6rem;
}

.search-description {
  font-size: 1rem;
}

.search-address-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.search-address-heading {
  font-size:1rem;
}

.search-address-field {
  background-color: #606073;
  border: 1px solid white;
  border-radius: .5rem;
  height:3.5rem;
  width:60%;
}

.search-button {
  margin-top: 1rem;
  background-color: #00c068;
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
}

.search-legend {
  padding-top: 1rem;
  border-top: 1px solid rgba(255,255,255,.25);
}

.search-legend-description {
  padding-bottom: 1rem;
  font-size:1.3rem;
}
.search-policy-container {
  display:flex;
  flex-wrap: wrap;
}

.search-policy {
  width:40%;
  display:flex;
  gap:1rem;
  height: 2rem;
  justify-content: left;
}

.search-policy-color {
  max-width:1.5rem;
  max-height:1.5rem;
}

.grow {
  flex-grow: 1;
}
/* SearchResult */

.search-result-page {
  display:flex;
  align-items: start;
}

.state-infographic-header {
  font-size: 2rem;
  padding-bottom: 1rem;
  margin:3rem;
  padding-left:4rem;
}

.state-infographic-container {
  width:65%;
  height: 50rem;
}

.state-infographic-body {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  margin-left:6rem;
  gap: 1rem;
  align-items: center;
}

.organics-recycling-info-container {
  width: 30%;
}

.back-button {
  display: block;
  background-image: url("./assets/backIcon.png");
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  background-position: center center;
  filter: invert(100%);
  margin-top: 4rem;
  width:3rem;
  height:3rem;
  border: 1px solid black;
  border-radius: 2rem;
}

/* Map */

.Map-State {
  width: 100%;
  height: 40rem;
  background-color: aqua;
}

.Map-Country {
  height: 40rem;
  margin: 4rem;
  margin-left: 8rem;
}


/* DistrictInfo */

.DistrictInfo-Subeading {
  color: grey;
}

.DistrictInfo-Heading {
  font-size: 2.5rem;
}

.DistrictInfo {
  display: flex;
  flex-direction: column;
}

.DistrictInfo-Description {
  flex-grow: 1;
}

.DistrictInfo-Table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DistrictInfo-TableRow {
  background-color: white;
}

.DistrictInfo-Services {
  color:white;
  font-size: 1rem;
  display: flex;
  gap: 4rem;
  padding-top: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.DistrictInfo-ServicesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  font-size: 1.2rem;
}

td {
  border: 1px solid black;
  padding: 0.2rem 1rem;
}

.yes-service-icon {
  /* background-image: url(./assets/yesServiceIcon.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center center; */
  height: 1rem;
  width: 1rem;
  background-color: green;
  border-radius: .5rem;
  border: 3px solid white;
}

.no-service-icon {
  /* background-image: url(./assets/noServiceIcon.png);
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center center; */
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: .5rem;
}

/* OrganicsRecyclingInfo */

.OrganicsRecyclingInfo {
  display:flex;
  flex-direction: column;
  margin-top:2rem;
}

.OrganicsRecyclingInfo-Address {
  font-size:2rem;
  color:white;
}

.OrganicsRecyclingInfo-Section {
  padding-top:1rem;
  padding-bottom:1rem;
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.OrganicsRecyclingInfo-Dropdown {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.OrganicsRecyclingInfo-Icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(100%);
  margin-right: 0.5rem;
}

.OrganicsRecyclingInfo-Header {
  font-size: 1.7rem;
  flex-grow: 1;
}

.expand-button {
  background-image: url(./assets/downArrowIcon.png);
  background-size: contain;
  width:15px;
  height:15px;
}

.collapse-button {
  background-image: url(./assets/upArrowIcon.png);
  background-size: contain;
  width:15px;
  height:15px;
}

.OrganicsRecyclingInfo-Description {
  color:lightgray;
}

/* FourPillarsDescription */

.FourPillars-Section {
  display:flex;
  flex-direction: column;
}

.FourPillars-SectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  gap:1rem;
}

.FourPillars-SectionHeading {
  font-size: 1.4rem;
}

.FourPillars-Image {
  width:1.5rem;
  height:2.5rem;
  align-self: center;
}